@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=DynaPuff:wght@500&family=Merienda:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=DynaPuff:wght@500&family=Merienda:wght@300&display=swap");

:root {
  --color-neutral-0: #0e0c0c;
  --color-neutral-10:#171717;
  --color-neutral-30:#a8a29e;
  --color-neutral-40: #f5f5f5;
}
* {
  box-sizing: border-box;
  margin: none;
  padding: 0;
  font-family: "Bruno Ace", cursive;
  font-size: 20px;
  letter-spacing: 1px;
}

h1, h2, h5 {
  justify-content: center;
  display: flex;
}

h4, p {
  justify-content: center;
  display: flex;
}

.a {
  font-family: "Bruno Ace", cursive;
  font-family: "DynaPuff", cursive;
  font-family: "Merienda", cursive;
}
  body {
    background-color: rgb(75, 77, 80);
  }
  
  .header__string-color{
    color: black;
  }
  
  header a strong:hover {
    color: rgba(70, 85, 94, 0.678);
  }
  header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 10px 60px;
  }
  
  .header .logo {
    height: 70px;
    width: auto;
  }
  
  .header .barra-nave li a:hover {
    color: rgba(70, 85, 94, 0.678);
  }
  
body {
  background-color: aliceblue;
}
.galeria-productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: auto;
  justify-items: center;
}

.galeria-productos > div {
  border-style: solid;
  border-color: #0e0c0c;
  border-width: 2px;
  display: grid;
  justify-items: center;
}

.galeria-productos > div > img {
  width: 80%;
  height: auto;
}
.galeriados {
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.galeriatres {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin: auto;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.galeriacuatro {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin: auto;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.card {
  width: 100%;
  height: auto;
  padding: 5%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.card-titulo {
  background-color: 0;
}

.card > div > img {
  width: 100%;
  height: auto;
  display: flex;
  justify-items: center;
  align-items: center;
}
.card-container {
  display: flex;
  width: 100%;
  margin: 90%;
}

.carouselExample {
  overflow: hidden;
}


/* BTN */
/* Botonsito color */
.btn-btn-primary:hover {
  background-color: #919191;
}

.btn-btn-primary {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.btn-btn-danger:hover {
  background-color: #919191;
}
.dire-contact {
  padding: 20px;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #1a1919;
  color: white;
  transition: all 0.4 ease 0;
}

.botoncitomayor {
  display: flex;
  justify-content: center;
}

.mapita {
  display: flex;
  justify-content: center;
  padding: 10px;
}
/* 
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 10px 60px;
}

.header .logo {
  height: 70px;
  width: auto;
} */

/* .header .barra-nave li:hover{
    transform: scale(1.1);
}
 */
/* Botonsito color */
/* PERTENECE A LA PAGINA DE TIENDA.HTML  */
/* SECTION UNO (CUADRO UNO) */
.titulos {
  font-size: 18px;
}

.iconos {
  margin-top: -8px;
}

.iconosx {
  margin: -4px;
  padding-right: 20px;
}

.cuadrito-uno {
  margin: 10px;
  padding: 2%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.cuadrito-dos {
  padding: 0%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

button.btn-close {
  margin: 10 10 10 10;
}

.text-bg-secondary:hover {
  background-color: red;
}

.btn-btn-primary:hover {
  background-color: #919191;
}

.btn-btn-primary {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.btn-btn-danger:hover {
  background-color: #919191;
}

.btn-ver {
  padding: 0px 15px;
  height: 40px;
  margin: 15px 0px;
}

.fa-solid {
  font-weight: 600;
  margin: 15px;
}

.modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.modal-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 4%;
  font-size: 15px;
}

/* Modales de 1 row */
/* PERTENECE A LA PAGINA DE SALE.HTML  */
/* PERTENECE A LA SECCIÓN ABRIGOS Y CALZADOS .HTML */
/* ABRIGOS */
.modal-body img {
  height: auto;
  width: 100%;
}

/* Cuadros1 */
.claseunito1 {
  padding: 15px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 5px;
}

.claseunito2 {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
}

.claseunito3 {
  justify-content: center;
  display: flex;
}

.claseunito4 {
  justify-content: center;
  display: flex;
}

.text-body-secondary {
  display: flex;
  justify-content: center;
  text-align: center;
}

.cuadrotres {
  display: flex;
  justify-content: center;
}

/* Animacion de contacto (direccion y descuentos) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* 
.img {
  position: absolute;
  z-index: 1000;
}

.loader {
  background: #0e0c0c;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
  clip-path: circle(150% at 100% 0);
  transition: clip-path 0.8s ease-in-out;
} 

.loader2 {
  clip-path: circle(0% at 100% 100%);
} */
/* Estilos para el preloader */
.preloader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;
}

.body2 {
  overflow-y: hidden; /* Oculta la barra de desplazamiento vertical */
}

/* Ocultar el preloader cuando el contenido esté cargado */
body.loaded .preloader {
  display: none;
}

.sixtin {
  flex-direction: column;
}

.nico {
  animation-name: bounceInDown;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.botoncitomayor {
  animation-name: bounceInRight;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.card1 {
      background-color: #f5f5f5;
    border: none;
    color: var(--color-neutral-10);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}



/* FOOTER */

footer {
  width: 100%;
  height: 10cm;
  color: var(--color-neutral-40);
}

.footer-link {
  -webkit-text-decoration: dashed;
  text-decoration: dashed;
}

#footer_content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
  width: 100%;
  height: 9.9cm;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.5;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 1.45rem;
  list-style: none;
  text-align: center;
  padding: 0 3% 0 0;
}

.footer-list .footer-link {
  color: var(--color-neutral-30);
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #7f37c9;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 0 0 3%;
}

#footer_subscribe {
  color: var(--color-neutral-30);
}

#input_group {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.25rem;
  width: 100%;
}

#input_group button {
  background-color: #f5f5f5;
  border: none;
  color: var(--color-neutral-10);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.5;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  padding: 1rem;
  font-weight: 100;
}

/* ResponsiveFooter */
@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem, 2rem;
  }
}
@media (min-width: 600px) {
  .galeria-productos {
    display: flex;
  }
}




/*# sourceMappingURL=style.css.map */
